/* navBar.css */
.navbar .imageSection .logoAtTop {
  width: 125px; /* Set the width of the logo */
  height: 125px; /* Set the height of the logo */
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center; /* Center align vertically */
  justify-content: space-between; /* Space out the items */
  background-color: #333; /* Example background color */
  padding: 10px;
}

.navbar .imageSection {
  flex: 0 0 auto; /* Ensure the logo stays its size */
}

.navbar .navbarSection {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  align-items: center;
  justify-content: flex-end;
}

.navbar .dropdown {
  position: relative;
}

.navbar .drpBtn {
  background-color: #333;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.navbar .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.navbar .dropdown:hover .dropdown-content {
  display: block;
}
